body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.map-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#mapa-img {
    position: relative;
    top: -0.5cm;
    left: 4cm;
    width: 100%;
    height: auto;
}

.icon {
    position: absolute;
    font-size: 24px;
    color: red;
}

.icon-tooltip {
    position: absolute;
}

.icon-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.icon-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    .icon {
        font-size: 20px;
    }
}
